$error: #FF0000;
$bg: #FFFFFF;
$border: solid #000000 1px;

.error{
    color: $error;
}

.center{
    text-align: center;
}
.rounded{
    background-color: $bg;
    border: $border;
}
.form-holder{
    table{
        width: 100%;
        
        input{
            width: 100%;
        }
    }
}