$bg: #FFFFFF;
$link: #000099;
$border: #000000;
$test:lime;
$solid-color-main: rgba(100, 25, 255, .2);
$solid-color-background: rgba(0, 0, 0, 0.8);
$gradient-color-up: linear-gradient(to bottom, rgba(100, 25, 255, .6), rgba(200, 200, 255, .2));
$gradient-color-down: linear-gradient(to bottom, rgba(200, 200, 255, .2), rgba(100, 25, 255, .6));
