//vars
$bg: #FFFFFF;
$link: #000099;
$error: #FF0000;
$border: solid #000000 1px;
$test:lime;
$solid-color-main: rgba(100, 25, 255, .2);
$solid-color-background: rgba(0, 0, 0, 0.8);
$gradient-color-up: linear-gradient(to bottom, rgba(100, 25, 255, .6), rgba(200, 200, 255, .2));
$gradient-color-down: linear-gradient(to bottom, rgba(200, 200, 255, .2), rgba(100, 25, 255, .6));

//General styles
.error{
  color: $error;
}

.center{
  text-align: center;
}

.rounded{
  background-color: $bg;
  border: $border;
}

.form-holder{
  background-color: $bg;

  table{
    width: 100%;
    border-collapse: collapse;
    
    td{
      border: $border;

      input{
        max-width: 80%;
      }
    }
  }
}

//Nav
#nav{
  display: block;
  width:100%;
  background-color: rgba(240, 248, 255, 0.459);
  min-height: 3em;
  align-items: right;

  #nav-logo{
    height: 2.7em;
    width: 2.7em;
    padding: .15em;
    float: left;
  }

  #nav-items
  {
    width: -webkit-calc(100% - 4em);
    width:    -moz-calc(100% - 4em);
    width:         calc(100% - 4em);
    margin-left: 3em;
    text-align: right;
    
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      min-height: 3em;
      display: inline-block;

      li {
        float: left;
        padding: 14px 16px;

        a, p {
          display: block;
          text-align: center;
          text-decoration: none;
          margin: 0;
        }
      }
    }
  }
}

// all pages
#main{
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: $solid-color-background;
  max-width: 70%;
  min-width: 20rem;
  min-height: 80%
}

a:link, a:visited{
  color: $link;
}

.form-holder
{
    border: 1px solid border;
}

#content-holder {
  background-image: url("./resources/fitness-pattern-blue.jpg");
  width:100vw;
  height: 100vh;
  background-position: 50% 50%;
}

#no{
  animation-name: scrolling-background;
  animation-duration: 9s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  background-repeat: repeat;
  animation-fill-mode: both;
}

@keyframes scrolling-background {
  /* You could think of as "step 1" */
  0% {
    background-position: 0em 0em;
  }
  25% {
    background-position:0em 2em;
  }
  50% {
    background-position:2em 2em;
  }
  75% {
    background-position:2em 0em;
  }
  /* You could think of as "step 2" */
  100% {
    background-position:0em 0em;
  }
}

//Root

#SignUp{
  width:45%;
  float: right;
}

#login{
  width:45%;
  float: left;
}

.fill-all{
  width: 100%;
  height: 100%;
}

#footer
{  
  margin: 0em 1.5em;
  background-color: rgba(100, 25, 255, .2);
  color: white;
  display:flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0.5em;
  border-radius: 25px;
}

#footer a{
  padding: 2px;
}

/////////////////////////////////////////
// Rank Profiles
#searchBy {
    border-radius: 25px; 
}

#searchBy:focus {
    outline: none;
}

// All Users
#allUsers{
  table{
      background-color: $bg;
      width:100%;
      border-collapse: collapse;
      text-align: center;
      tr{
          td, th{
              border: $border;
              padding: 5px;
          }
      }
  }
}

// Exercise chart
#history-full
{
  margin-top: 1rem;
  background: linear-gradient(to bottom, rgba(100, 25, 255, .6), rgba(200, 200, 255, .2));
  height: 25rem;
  width: 40rem;
  max-width: 100%;
}

#history-label
{
    height: 5%;
}

#history-holder
{
  width: 100%;
  height: 100%;
  max-height: calc(95% - 4rem);  
}

#history-graph
{
  width: 100%;
  height: 100%;
}

/* Style buttons */
.btn {
    background-color: rgba(0, 0, 0, 0); /* Alpha background */
    border: none; /* Remove borders */
    cursor: pointer; /* Mouse pointer on hover */
    width: 4rem;
    height: 4rem;
    overflow: hidden;
}

.selected {
  background-color: rgba(255, 0, 242, 0.377); /* Blue background */
}
.btn .selected img {
  height:120%;
  width: 120%;
}
  
/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

.btn img {
    width: 100%;
    height: 100%;
}

#workout-type-container
{
  width:100%;
  overflow-y: visible;
  overflow-x: auto
}

#workout-type-selector
{
  display: inline-flex;
}

#history-graph .highcharts-title
{
  width: 100%;
  left: 0;
}


/* width & height */
body ::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
}

/* Track */
body ::-webkit-scrollbar-track {
  border-radius: 25px;
  background: #888; 
}
 
/* Handle */
body ::-webkit-scrollbar-thumb {
  background: #ff0000;
  border-radius: 25px;
}

/* Handle on hover */
body ::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

//Inspirations
#inspirations-search {
  float: right;
}

#inspirations-search input {
  border-radius: 25px;
}

#inspirations-search input:focus {
  outline: none;
}


#inspirations-full
{
margin-top: 1rem;
background: linear-gradient(to bottom,  rgba(200, 200, 255, .2), rgba(100, 25, 255, .6));
}

#inspirations-label
{
color:white;
}

#inspirations-holder
{
overflow: auto;
display:flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap; 
max-height: 20rem; 
width:100%;
}

#inspirations-rank-holder
{
overflow: auto;
display:flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;  
}

.inspiration-square
{
margin: 0.5rem;
padding: 0.1rem;
height: 8rem;
width: 8rem;
background-color: rgba(100, 25, 255, .3);
overflow: hidden;
text-align: center;
border-radius: 25px;
}
.inspiration-square img
{
transform: translate(-14%, -7%);
height: 140%;
width: 140%;
object-fit: cover;
object-position: 50% 70%;
}

//post item
.post-item-body-img-holder
{
    width: 100%;
}

//Profile
#all-profile-component
{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
} 


#content-holder
{
  width: auto;
  height: 100vh;
  background-repeat: repeat;
  overflow: auto;
}

#profile-pic-full
{
  color:white;
}

#profile-pic-holder
{
  height: 20rem;
  margin-top:1rem;
  display:flex;
  justify-content: space-around;
}

.bound-img
{
  max-width: 100%;
  max-height: 100%;
}

#sticky
{
  position: sticky;
  top: 1rem;
}

#left-side
{
  min-width: 20rem;
  max-width: 25%;
}

#right-side
{
  min-width: 20rem;
  max-width: 65%;
}

#my-goals-full
{
  margin-top: 1rem;
  background-color: rgba(100, 25, 255, .2);
}


#my-goals-holder
{
  overflow: auto;
  height: 15rem;
}


#stats-holder
{  
  height: 10rem;
  display:flex;
  align-items: center;
  justify-content: center;
}

#stats-full
{  
  margin-top: 1rem;
  background-color: rgba(100, 25, 255, .2);
}

.label
{
  display:flex;
  align-items: center;
  justify-content: center;
}

#profile-pic-label
{
  margin-top: 1rem;
}

#profile-pic-full
{
  background: linear-gradient(to bottom,  rgba(200, 200, 255, .2), rgba(100, 25, 255, .6));
  padding: 0.5rem;
  height: 25rem;
}

#my-goals-holder
{
  display:flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
}

.goal-item
{
  margin: 0.5rem;
  width: 90%;
}

#new-goal-input
{ 
  width: 100%;
}

#posts-holder
{
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

#posts-full
{
  margin-top: 1rem;
  margin-bottom: 5rem;
  background-color: rgba(100, 25, 255, .2);
}

.post-item-container
{
  position: relative;
  display: block;
  max-width: 30rem;
  width: 80%;
  min-width: 20rem;
  min-height: 30rem;
  margin: 2rem;
  padding: 1rem;
  padding-top: 80%;
  max-height: 30rem;
  background-color: rgba(100, 25, 255, .3);
}

.post-item-content {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
  right: 1rem;
  display:flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: auto;
}

#all-profile-component div 
{
  box-sizing: border-box;
  padding: 0.5em;
}

#all-profile-component #history-full div
{
  padding: 0;
  border-radius: 0;
}

#all-profile-component div, img
{
  border-radius: 25px;
}

#cover-everything
{
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

#take-pic-bounding{
  width: 48rem;
  height: 36rem;
}