$bg: #FFFFFF;
$link: #000099;
$border: #000000;

// all pages
#main{
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, .5);
  max-width:90%;
  min-width:20rem;
  min-height: 80%
}

a:link, a:visited{
  color: $link;
}

.form-holder
{
    border: 1px solid border;
}

#content-holder {
  background-image: url("./resources/fitness-pattern-blue.jpg");
  width:100vw;
  height: 100vh;
  background-position: 50% 50%;
}

#no{
  animation-name: scrolling-background;
  animation-duration: 9s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  background-repeat: repeat;
  animation-fill-mode: both;
}

@keyframes scrolling-background {
  /* You could think of as "step 1" */
  0% {
    background-position: 0em 0em;
  }
  25% {
    background-position:0em 2em;
  }
  50% {
    background-position:2em 2em;
  }
  75% {
    background-position:2em 0em;
  }
  /* You could think of as "step 2" */
  100% {
    background-position:0em 0em;
  }
}

//Root

#SignUp{
  width:45%;
  float: right;
}

#login{
  width:45%;
  float: left;
}