#nav{
    display: block;
    width:100%;
    background-color: rgba(240, 248, 255, 0.459);
    min-height: 3em;
    align-items: right;

    #nav-logo{
        height: 2.7em;
        width: 2.7em;
        padding: .15em;
        float: left;
    }

    #nav-items
    {
        width: -webkit-calc(100% - 4em);
        width:    -moz-calc(100% - 4em);
        width:         calc(100% - 4em);
        margin-left: 3em;
        text-align: right;
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            min-height: 3em;
            display: inline-block;
    
            li {
                float: left;
                padding: 14px 16px;

                a, p {
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    margin: 0;
                }
            }
        }
    }
}